body {
	margin: 1rem;
	overflow: hidden;
}

div {
	display: inline-block;
}

.canvas {
	border: 2px solid #000;
	border-radius: 1rem;
	padding: 1rem;
}
.toolRight .canvas {
	float: left;
	height: calc(100% - 2rem - 4px);
	width: calc(75% - 2.5rem - 4px);
}

.tool {
	background: #bcc;
	border: 2px #000 solid;
	border-radius: 1rem;
	overflow: hidden;
	padding: 1rem;
}
.toolRight .tool {
	float: right;
	height: calc(100% - 2rem - 4px);
	width: calc(25% - 2.5rem - 4px);
}

.tool #resetColor {
	background: #fff;
	border: 2px solid #000;
	border-radius: 1rem;
	height: 3rem;
	margin: 0 0 1rem 0;
	width: 100%;
}

.tool .swatch {
	border-radius: 1.5rem;
	height: calc(3rem - .4rem);
	margin: .2rem;
	transform: rotate(0deg);
	transition: transform 500ms ease;
	width: calc(3rem - .4rem);
}

.tool .swatch.active {
	border-top-color: #fff;
	border-left-color: #000;
	border-right-color: #000;
	border-bottom-color: #fff;
	transform: rotate(270deg);
}








path {
	transition: fill .4s ease;
}

.first,
.second,
.third,
.fourth {
  width: 200px;
  height: 200px;
  border: 1px solid #f00;
}

p {
  text-align: center;
  font-weight: bold;
  color: #888;
  font-size: 24pt;
  margin: 0;
}

.red {
  background: #f00;
  border: 3px solid #f00;
}

.orange {
  background: #ffa500;
  border: 3px solid #ffa500;
}

.yellow {
  background: #ffff00;
  border: 3px solid #ffff00;
}

.green {
  background: #008000;
  border: 3px solid #008000;
}

.blue {
  background: #00f;
  border: 3px solid #00f;
}

.purple {
  background: #800080;
  border: 3px solid #800080;
}

.pink {
  background: #ffc0cb;
  border: 3px solid #ffc0cb;
}

.brown {
  background: #a52a2a;
  border: 3px solid #a52a2a;
}

.black {
  background: #000;
  border: 3px solid #000;
}

.white {
  background: #fff;
  border: 3px solid #fff;
}

.select {
  background-color: none;
}
